<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome to the Great Number Game!</title>

        <!-- CSS Stylesheets -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- Optional Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

        <!-- JS Scripts - jQuery, master.js  -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
        <script type="text/javascript" src="{{ url_for( 'static', filename='js/master.js' ) }}">
        </script>
    </head>
    <body>
        <div id="wrapper">
            <div id="card_box">
                <div class="card" style="background-color: {{ data.color }}">
                    <h1>Welcome to the great number game!</h1>
                    <p>{{ data.message }}</p>
                    {% if data.reset == True: %}
                    <p>Would you like to play Again?</p>
                    <a href="/reset">Yes</a>
                    {% else: %}
                    <form class="" action="/check" method="post">
                        <div class="form_group">
                            <label for="user_guess"></label>
                            <input type="text" id="user_guess" name="user_guess" placeholder="Guess">
                        </div>
                        <input type="submit" name="submit" value="Submit Your Guess">
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
