<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Basic Flask Template</title>

        <!-- CSS Stylesheets -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- Optional Fonts -->
         <link href="https://fonts.googleapis.com/css?family=El+Messiri:400,700" rel="stylesheet">

        <!-- JS Scripts - jQuery, master.js  -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
        <script type="text/javascript" src="{{ url_for( 'static', filename='js/master.js' ) }}">
        </script>
    </head>
    <body>
        <div id="wrapper">
            <div id="form_box">
                <form id="contact_form" action="/users" method="post">
                    <div class="form_group">
                        <label for="name">Full Name: </label>
                        <input type="text" id="name" name="name" placeholder="Full Name">
                    </div>
                    <div class="form_group">
                        <label for="email">E-mail: </label>
                        <input type="email" id="email" name="email" placeholder="E-mail">
                    </div>
                    <input id="add_contact" type="submit" name="submit" value="Add Contact">
                </form>
            </div>
        </div>
    </body>
</html>
