<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Basic Flask Template</title>

        <!-- CSS Stylesheets -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- Optional Fonts -->

        <!-- JS Scripts - jQuery, master.js  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for( 'static', filename='js/master.js' ) }}">
        </script>
    </head>
    <body>
        <div id="wrapper">
            <div id="form_box">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form id="dojo_survey" action="/results" method="post">
                    <div class="form_group">
                        <label for="f_name">First Name: </label>
                        <input type="text" id="f_name" name="f_name" placeholder="First Name"
                        {% if 'data' in session %}
                        value="{{ session['data'].f_name }}"
                        {% endif %}
                        >
                    </div>
                    <div class="form_group">
                        <label for="l_name">Last Name: </label>
                        <input type="text" id="l_name" name="l_name" placeholder="Last Name"
                        {% if 'data' in session %}
                        value="{{ session['data'].l_name }}"
                        {% endif %}
                        >
                    </div>
                    <div class="form_group">
                        <label for="email">E-mail: </label>
                        <input type="text" id="email" name="email" placeholder="E-mail"
                        {% if 'data' in session %}
                        value="{{ session['data'].email }}"
                        {% endif %}
                        >
                    </div>
                    <div class="form_group">
                        <label for="password">Password: </label>
                        <input type="password" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="form_group">
                        <label for="confirm_password">Confirm Password: </label>
                        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
                    </div>
                    <input id="survey" type="submit" name="submit" value="Register">
                </form>
            </div>
        </div>
    </body>
</html>
